<!DOCTYPE html>
<html>

<head>
    <title>Gruding News | {{story.title}}</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    </link>
</head>

<body>
    <header>
        <h1>{{story.title}}</h1>
        <div>
            {{story.points}} points | By {{story.author}}
            <a href="{{story.url}}" target="_black">{{story.url}}</a>
        </div>
    </header>

    <main>
        {% for comment in story.children %}
        {% if comment.author == None %}
        <div>[deleted]</div>
        {% else %}
        <div>
            <strong>{{comment.author}}:</strong>
            <p></p>
            {{ comment.text|safe }}
            <p></p>
        </div>
        {% endif %}
        <hr>
        {% endfor %}
    </main>
</body>

</html>