<!DOCTYPE html>
<html>

<head>
    <title>Gruding News | {{order_by}}</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    </link>
</head>

<body>
    <header>
        <h1>Guruding News</h1>
        <div>
            Order by: {{order_by}}
            {% if order_by == "popular"%}
            <strong>Popular</strong>
            |
            <a href="/?order_by=new">New</a>
            {% else %}
            <a href="/?order_by=popular">Popular</a>
            |
            <strong>New</strong>
            {% endif %}
        </div>
    </header>
    <main>
        {% for story in storys %}
        <div>
            <div>
                <a href="/{{story.id}}">
                    <h3>{{story.title}}</h3>
                </a>
                (
                <a href="{{story.url}}" target="_blank">
                    {{story.url}}
                </a>
                )
            </div>
            <div>
                {{story.points}} points | By: {{story.author}} | {{story.comments}} comments
            </div>
        </div>
        <hr>
        {% endfor %}

    </main>
</body>

</html>